.faq {
    display: flex;
    // align-items: center;
    margin-right:10%;
    // flex-direction: column;
    margin-top: 10%;
    margin-left: 3vw;

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .flex-item {
        width: 40%;
        min-width: 280px;
        padding: 8px;
    }
    
      .faq-img-container{
          position: relative;
          width: 100%;
          &-img {
            width:5rem;
            height:5rem;
            position: absolute;
            right: 15rem;
          }
    }
    
}

@media screen and (max-width: 600px) {
    .faq {
        text-align: center;
        margin-top: 10vh;
        margin-bottom: 5vh;
        h1 {
            text-align: center;
        }

        .flex-item {
            width: auto;
            min-width: auto;
            padding: 0.5rem;
        }
    }

    .faq-img-container {
        display: none;
    }
}
