nav {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    height: 50vh;
    margin-top:25vh;
    margin-left:10%;
    min-height: 25rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 70%;
    text-align: right;

    a {
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 20px;
        font-weight: bold;
        color: black;
        font-weight: bold;
        text-align: right;
        cursor: pointer;
    }

    li {
        list-style: none;
    }
}

.nav-burger {
    display: none;
    div {
        background-color: black;
        width: 25px;
        height: 3px;
        margin: 5px;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        height: 10rem;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 20%;
        a {
            color: white;
            font-size: 1rem;
            align-items: center;
        }

        a:hover {
            border-right: 5px solid $orange;
            padding-right: 3px;
            color: $orange !important;
            transform: scale(1.5);
            transition: all 0.3s;
        }
    }
    .body-container {
        display: inline;
        align-items: flex-start;
    }
    nav {
        position: absolute;
        top: 2rem;
        left: 0;
        margin-top:0;
    }
    .nav-links li{
        opacity: 0;
        text-align: center;
    }
    .nav-burger {
        display: block;
        position: absolute;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
        z-index: 10;
    }
}

.nav-active {
    transform: translateX(0%);
    transition: all 0.3s;
}



.navlink-active-orange {
    border-right: 5px solid $orange;
    padding-right: 3px;
    color: $orange !important;
    transform: scale(1.5);
    transition: all 0.3s;
}


@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media screen and (max-width: 768px) {
    .nav-links li a{
        color: black !important;
    }
}