.schedule {
    display: flex;
    align-items: center;
    margin-right:10%;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 10%;

    section {
        width: 800px;
    }

    h4, li {
        margin: 0.8rem 0;
    }

    li {
        display: flex;
        width: 80%;
    }

    span {
        text-align: left;
    }

    .small-grow {
       width:20%;
    }


    .medium-grow {
        width:40%;
    }

}

@media screen and (max-width: 768px) {
    .schedule {
        margin-top: 10vh;  
        margin-bottom: 5vh;
        width: 80%;
        margin-left: 10%;

        li {
            display: inline-flex;
        }

    .small-grow {
        width:20%;
     }
 
 
     .medium-grow {
         width:100px;
     }

        section {
            width:100%;
            text-align: center;
            margin: 0 auto;
        }
    }
}




