.sponsors {
    display: flex;
    margin-right:10%;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 5%;
    text-align: left;

    &-img {
        width: 15rem;
        height: 15rem;
    }

    h4, li {
        margin: 0.8rem 0;
    }

    li {
        display: flex;
        width: 80%;
    }

    span {
        text-align: left;
    }

    .small-grow {
       width:20%;
    }

    .medium-grow {
        width:40%;
    }

}

@media screen and (max-width: 768px) {
    .sponsors {
        margin-top: 15vh;
        word-wrap: break-word;
        text-align: center;

        &-img {
            width: 20rem;
            height: 20rem;
        }

        span {
            text-align: center;
        }
    }
}




