@font-face {
  font-family: 'Cooper-Regular';
  src: url('../assets/fonts/Cooper-Medium.ttf');
}

@font-face {
  font-family: 'Sofia-Pro';
  src: url('../assets/fonts/Sofia-Pro-Regular.ttf');
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  background-color: #FFE29D;
  font-family: 'Sofia-Pro';
  li {
    list-style: none;
  }
}

h1, h2, h3 {
  font-family: 'Cooper-Regular';
  margin: 0;
  padding: 0;
}

ul {
    padding-inline-start: 0;
}

.body-container {
  display: flex;
  align-items: center;
  animation: fadein 0.3s ease-in-out;
  width: 100vw;
  overflow-x: hidden;
}

.content {
  padding-left: 420px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    padding-left: 0;
  }
}

.orange {
  color: $orange;
}

.tab {
  animation: fadein 0.3s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.btn {
  padding: 1em 2em;
  color: white;
  background: $orange;
  font-family: inherit;
  font-size: 18px;
}
