// color theme
$white: #FFFFFF;
$light-yellow: #FFE29D;
$med-yellow: #FFDFB0;
$orange: #EA591A;
$black: #000000;
$grey: #FFFFFF;
$light-blue: #A8C9E5;
$light-pink: #FFB8D5;
$light-purple: #DFCCF1;

// font size, 1rem = 10px
$size5: 4rem;
$size4: 3rem;
$size3: 2rem;
$size2: 1.4rem;
$size1: 1.2rem;

//breakpoint:
$mobile: 768px;
